%header
%main
  %a
    Please choose your gesture:
  %form{:action => "/result", :method => "post"}
    %input{:type => "submit", :value => "Rock", :name => "Rock"}/
    %input{:type => "submit", :value => "Paper", :name => "Scissors"}/
    %input{:type => "submit", :value => "Scissors", :name => "Scissors"}/
%footer
