!!!
%html
  %head
  %body
    %header 
    %h1
      Rock Paper Scissors - Sinatra
    %h2
      a game of rock, papers, scissors - built on sinatra
    %main
      = yield
    %footer
      %details
        %a
          built by mala23
        %a
          using Ruby, Sinatra, Cucumber and RSpec
